@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
/*#171D1F*/

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.rowWrapper{
    display: block;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.colWrapper{
    display: flex;
    width: 100%;
    max-width: 1144px;
    margin: 0 auto;
}

.colWrapper.fullWidth{
    max-width: 100%;
}

.col{
    display: block;
    position: relative;
}

.col-12{
    width: 100%;
}

.col-9{
    width: 75%;
}

.col-8{
    width: 66.66%
}

.col-6{
    width: 50%;
}

.col-4{
    width: 33.33%;
}

.col-3{
    width: 25%;
}


.animated{
    opacity:0;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    transform: translateY(30px);
}

.animated.active{
    opacity: 1;
    transform: translateY(0px);
}